@tailwind base;
@tailwind components;
@tailwind utilities;

.navLink li:hover {
  color: #ff6e61;
}
.navLink li {
  padding: 0% 1em;
}
.navLink li a {
  text-transform: uppercase;
  font-weight: 700;
}
.navLink span {
  color: white;
}
.megaDropDown i {
  padding-top: 5px;
  margin-left: 2px;
}
.mega-menu {
  display: none;
  font-size: 0.8rem;
}

.list1:hover {
  .mega-menu {
    display: block;
  }
}

.mega-menu {
  background-color: white;
  border-radius: 4px;
  z-index: 1;
}
.mega-menu ul li {
  text-transform: capitalize;
  padding-left: 1em;
  margin-bottom: 0.5em;
}

.mega-menu ul:not(:first-child) {
  border-left: 1px solid rgba(193, 192, 192, 0.618);
}
.megaDropDown ul li div a {
  font-size: 0.9em;
}
.paragraph div h4,
h6 {
  font-weight: 500;
}
.paragraph div p {
  color: rgba(107, 104, 104, 0.923);
}
.paragraph div p,
h6 {
  padding: 0.5em 0;
}

.footerLinks {
  padding: 2em 4em;
}
.footerLinks h5 {
  font-size: larger;
  font-weight: 600;
  padding-bottom: 0.5em;
}
.footerLinks a {
  color: rgba(114, 113, 113, 0.903);
  font-size: 0.8rem;
}

#hide {
  display: none;
}
.sideimg {
  height: 76%;
}
.multiple-items img {
  padding: 1em 1.7em;
}
.multiple-items li {
  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1px solid rgba(52, 49, 49, 0.718);
    border-radius: 8px;
  }
  p {
    margin-bottom: 0.5em;
  }
}

.slider2 li {
  border-radius: 8px;
  border: 1px solid rgba(120, 118, 118, 0.718);
  padding: 1em 0 1em 1em !important;
}

.slider2 li:hover {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  cursor: pointer;
}

.rate {
  padding-top: 2.5em;
}
.slid3 {
  padding: 2em 0;
}
.slid3 li {
  padding: 2em 0;
}
.slid3 li:hover {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}

.slid4 img {
  margin: 0 auto;
  height: 10em;
  width: 50%;
}

.slid4 li:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
}

.slid4 li p {
  margin-bottom: 0.5em;
}

.slick-prev::before,
.slick-next::before {
  content: "";
  font-family: "slick";
  font-size: 40px !important;
  opacity: 0.75;
  line-height: 1;
  color: rgb(231, 114, 19) !important; /* Set arrow color */

  border-radius: 50%; /* Make it round */
}

.slick-prev {
  top: 40% !important;
  left: -50px !important; /* Adjust left position */
}

.slick-next {
  top: 40% !important;
  right: 40px; /* Adjust right position */
}
.slider2 .slick-list .slick-slide {
  margin: 0 5px;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}
