@tailwind base;
@tailwind components;
@tailwind utilities;

.navLink li:hover{
    color: #ff6e61;
    
}
.navLink li{
    padding: 0% 1em;
}
.navLink li a{
    text-transform: capitalize;
}
.navLink span{
    color: white;
}
.megaDropDown i{
    padding-top: 5px;
    margin-left: 2px;
}
 .mega-menu{
    display: none;
}

.list1:hover{
    .mega-menu{
        display: block;
    } 

} 

.mega-menu ul li {
    text-transform: capitalize;
}
